.category {
    background-color: #f8f8f8;
    .cat-flex {
        padding:50px 0;
        display: flex;
        gap:30px;
    }
    .whatsnew {
        width:770px;
    }

    .sidebar {
        width: calc(100% - 770px);
    }

    .articles-flex {
        flex-direction: column;
    }

    .article-row {
        display: flex;
    }

    .princi {
        width:50%;
        overflow: hidden;
    }
}

.princi {
    img {
        width: 100%;
        transition: all 0.5s ease-in-out;
        display: block;
        overflow: hidden;
    }


    img:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width:945px) {
    .category .cat-flex {
        display: block;
    }

    .category .pub {
        display:none
    }

    .category .sidebar {
        width: 100%;
        margin-top:20px;
    }

}

@media screen and (max-width:545px) {
    .category .article-row {
        display: block;
    }
    .category .princi {
        width: 100%;
    }
}