.contact {
    background-color: #f8f8f8;
    padding: 100px 0;
    .col {
        display: flex;
        gap:70px;
        justify-content: space-between;
        padding:20px 0;
    }
}

.form {
    margin-top:50px;
    h3 {
        font-family: "Barlow",sans-serif;
        color: #051441;
        margin-top: 0px;
        font-size: 27px;
    }
}

form {
    width:770px;
    display: flex;
    flex-direction: column;
    gap:30px;
    textarea {
        width:100%;
        height:190px;
        padding:20px;
        background-color: #f8f8f8;
        border:1px solid #eee;
        font-size: 13px;
    }

    .half {
        display: flex;
        gap:10px;
    }

    .half > * {
        width:50%;
    }

    [type="text"],[type="email"] {
        padding:20px;
        background-color: #f8f8f8;
        border:1px solid #eee;
        font-size: 13px;
    }

    [type="submit"] {
        border:1px solid $rouge;
        color:$rouge;
        background-color: #f8f8f8;
        width:20%;
        padding:20px;
        text-transform: uppercase;
        font-family: "Barlow",sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        transition: .3s all ease-in-out;
        cursor: pointer;
      }

      [type="submit"]:hover {
        background-color: $rouge;
        color:white;
      }

    
}

.info {
    width:calc(100% - 770px);
    display: flex;
    flex-direction: column;
    gap:40px;
    .black {
        font-size: 16px;
        color: #2a2a2a;
        font-family: 'Barlow';
        font-weight: 500;
    }
    .grey {
        color: #8a8a8a;
        line-height: 1.8rem;
    }
}

.icon-flex {
    display: flex;
    gap:30px;
}

.icon i {
    font-size: 28px;
    color: gray;
}

@media screen and (max-width:945px) {
    iframe {width:80%}
    .contact .col {display: block;}
    .contact .info {width: 100%; margin-top:50px;}
    textarea, input {max-width:80%}
    .half {max-width:80%}
}

@media screen and (max-width:545px) {
    textarea, input {max-width:60%}
    .half {max-width:60%}
}