.contact {
    background-color: #f8f8f8;
    padding: 100px 0;
}

.form {
    margin-top:50px;
    h3 {
        font-family: "Barlow",sans-serif;
        color: #051441;
        margin-top: 0px;
        font-size: 27px;
    }
}