main {
    background-color: #f4f4f4;
}

// partie une

.headline {
    padding : 20px 0;
    display: flex;
    gap:20px;

    .second {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position:relative;
        
    }

    .principal, .top, .bottom {
        position:relative;
    }

    img {
        border-radius:10px;
    }

     .principal::before, .top::before, .bottom::before {
        content: "";
        background: linear-gradient(0deg, rgba(9,121,82,0.3337710084033614) 0%, rgba(0,0,0,1) 0%, rgba(210,1,103,0) 100%, rgba(244,1,120,0.13489145658263302) 100%, rgba(255,255,255,0) 100%);
        height:50%;
        width:100%;
        position:absolute;
        top: 50%;
        left:0;
        border-radius: 10px;
    }
}

.headline .text {
    position: absolute;
    top:70%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: flex-start;
    align-items: flex-start;
    .headline-title {
        font-family: 'Barlow';
        font-size: 40px;
        font-weight: 800;
         a {
            color: #fff;
            transition: .4s all ease-in-out;
        }
        a:hover {
            color:$rouge;
        }       
    }
    .details {
        color: #c2c2c2;
        font-size: 12px;
    }

}


.sticker {
    padding: 7px 14px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    display: inline-block;
    color: #fff;
    background-color: $rouge;
}

.top .text {
    top : 60%;
}

.bottom .text {
    top : 30%;
}

.top .text .headline-title, .bottom .text .headline-title {
        font-size: 24px;
}

.top .text .sticker {
    background-color: $bleu;
} 

.bottom .text .sticker {
    background-color: $vert;
}

hr {
    height: 1px;
    background-color: rgba(228, 228, 228, 0.774);
    border: none;
}

// partie deux

.articles-list {
    margin-top:50px;
    display: flex;
    gap:20px;

    .sticker-b {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 11px;
        display: inline-block;
        color: $bleu;
        line-height: 2rem;
    }
}

.whatsnew {
    max-width:100%;
    h2 {
        font-size: 40px;
        margin:0;
    }
}

.pub {
    margin-top:20px;
}

.white-bg {
    background-color: #fff;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
}

.articles-flex {
    display: flex;
    gap:30px;
    .details {
        color: #c2c2c2;
        font-size: 12px;
        line-height: 2rem;
    }
}
.article-col {
    display: flex;
   gap: 10px;
}
.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        margin :0;
        font-family: "Barlow",sans-serif;
        color: #051441;
        font-size: 16px;
        font-weight: 500;
    }
}

.flex-left {
    width:770px;
}

.flex-right {
    width :calc(100% - 770px);
}

.entete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
        display: flex;
        gap: 20px;
        font-size: 16px;
        font-weight: 500;
        margin-right:15px;
        a {
            color: #051441;
        }
        .red {
            color : $rouge
        }
    }
}

.princi {
    margin-top:30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left:20px;
    img {
        width: 320px;
    }
    .headline-title {
        font-family: "Barlow",sans-serif;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        margin: 10px 0;
        a {
            color: #051441;
        }
    }
    p {
        font-size: 16px;
        line-height: 2rem;
        margin-top:5px;
        max-width:320px;
    }
}

.secondaires {
    margin-top:30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:20px
}

// partie trois

.most-popular {
    padding-top: 100px;
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    .pub {
        width: 265px;
        margin:0;
        img {
            display: block;
        }
    }
    .slider {
        width: calc(100% - 265px);
        height: 355px;
    }
}




