.headline {
    margin : 20px 0;
    display: flex;
    gap:20px;

    .second {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position:relative;
        
    }

    .principal {
        position:relative
    }

    img {
        border-radius:10px;
    }

     .principal::before {
        content: "";
        background: linear-gradient(0deg, rgba(9,121,82,0.3337710084033614) 0%, rgba(0,0,0,1) 0%, rgba(210,1,103,0) 100%, rgba(244,1,120,0.13489145658263302) 100%, rgba(255,255,255,0) 100%);
        height:50%;
        width:100%;
        position:absolute;
        top: 50%;
        left:0;
        border-radius: 10px;
    }
}