.latest-news {
    background-color: #f8f8f8;
}

.col {
    padding :50px 0;
    display: flex;
}

.main {
    width:770px;
    h2 {
        font-size: 40px;
    }
    p {
        font-family: "Roboto",sans-serif;
        color: #506172;
        font-size: 15px;
        line-height: 30px;
        font-weight: normal;
    }

    .share {
        display: flex;
        align-items: baseline;
        gap: 25px;
    }

}

.sidebar {
    width:calc(100% - 770px);
    .pub {
        display: flex;
        justify-content: center;
        margin-top:40px;
        img {
            width:250px;
        }
    }
}

.socials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:5px
}

.social {
    display: flex;
    gap:20px;
    border:1px solid #f5f5f5;
    padding:10px 37px; 
    justify-content: space-around;
    
    .count {
        color: #232323;
        font-size: 14px;
        font-weight: 500;
    }
    span {
        color: #506172;
        font-size: 12px;
        line-height: 1px;
    }
}

